<html>
  <head>
    <title>FATFLASH</title>
    <style>
      body {
        font-family: 'Courier New', monospace;
      }
      </style>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
  
  </head>
  <body>
    <p><font size="+5">WRONG!!! :(</font></p>
   
    <style>
      
      body {
      background-color : #ec1111;
      margin: 0;
      padding: 0;
  }
  h1 {
      color : #000000;
      text-align : center;
      font-family: "SIMPSON";
  }
  form {
      width: 300px;
      margin: 0 auto;
  }
    </style>

</style>
    
<form action="">
  <input type="submit" value="keep playing!" />
</form>
  
  
</body>
</html>

